<section ng-hide="users.isLoggedIn()">
  <h3>Sign Up</h3>
  <form id="join" ng-submit="users.newUser()">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name" ng-model="users.user.name">

    <label for="email">Email Address</label>
    <input type="email" name="email" placeholder="Email" ng-model="users.user.email">

    <label for="location">Location</label>
    <input type="text" name="location" placeholder="Your location" ng-model="users.user.location">

    <label for="industry">Industry</label>
    <input type="text" name="industry" placeholder="Your Industry" ng-model="users.user.industry">

    <label for="about_me">About Me</label>
    <input type="text" name="about_me" placeholder="About Me" ng-model="users.user.about_me">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" ng-model="users.user.password">

    <input type="submit" value="Access">
  </form>
</section>